## ---------------------------------- Programming Assignment- 23 ----------------------------------

## Question 1 Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [12]:
def is_symmetrical(n):
    num = str(n)
    rev = "".join(reversed(num))
    rev1 = int(rev)
    if n == rev1:
        print(f'is_symmetrical({n}) ➞  True')
    else:
        print(f'is_symmetrical({n}) ➞  False')
        
is_symmetrical(7227)
is_symmetrical(12567)
is_symmetrical(44444444)
is_symmetrical(9939)
is_symmetrical(1112111)

is_symmetrical(7227) ➞  True
is_symmetrical(12567) ➞  False
is_symmetrical(44444444) ➞  True
is_symmetrical(9939) ➞  False
is_symmetrical(1112111) ➞  True

## Question 2 Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [26]:
def multiply_nums(s):
    st1 = s.replace(' ','').split(',')
    out_st = 1
    for i in st1:
        out_st *= int(i)
    print(f'multiply_nums("{s}") ➞ {out_st}')
    
multiply_nums("2, 3")
multiply_nums("1, 2, 3, 4")
multiply_nums("54, 75, 453, 0")
multiply_nums("54, 75, 453, 0")

multiply_nums("2, 3") ➞ 6
multiply_nums("1, 2, 3, 4") ➞ 24
multiply_nums("54, 75, 453, 0") ➞ 0
multiply_nums("54, 75, 453, 0") ➞ 0

## Question 3 Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [37]:
def square_digits(n):
    st = ''
    for i in str(n):
        st = st + str(int(i)**2)
    print(f'square_digits({n}) ➞ {st}')
        
        
square_digits(9119)
square_digits(2483)
square_digits(3212)

square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414

## Question 4 Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [48]:
def setify(l):
    li = list(set(sorted(tuple(l))))
    print(f'setify({l}) ➞ {li}')

setify([1, 3, 3, 5, 5])
setify([4, 4, 4, 4])
setify([5, 7, 8, 9, 10, 15])
setify([3, 3, 3, 2, 1])

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

## Question 5 Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6
Notes
•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
•	The mean will always be an integer.

In [55]:
def mean(n):
    su = 0 
    st = str(n)
    len_ = len(st)
    for i in st:
        su += int(i)
        
    Mean = su//len_
    print(f'mean(n) ➞ {Mean}')
    
mean(42)
mean(12345)
mean(666)

mean(n) ➞ 3
mean(n) ➞ 3
mean(n) ➞ 6