## -------------------------------------- Programming Assignment 21 -------------------------

## Question1 Write a function that takes a list and a number as arguments. Add the number to the end of the list, then remove the first element of the list. The function should then return the updated list. <br>
Examples<br>
next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]<br>
<br>
next_in_line([7, 6, 3, 23, 17], 10) ➞ [6, 3, 23, 17, 10]<br>
<br>
next_in_line([1, 10, 20, 42 ], 6) ➞ [10, 20, 42, 6]<br>
<br>
next_in_line([], 6) ➞ "No list has been selected"

In [19]:
def next_in_line(l,n):
    l1= l
    l1.append(n)
    l1.pop(0)
    print(f'next_in_line([5, 6, 7, 8, 9], 1) ➞ {l1}')
    


next_in_line([5, 6, 7, 8, 9], 1)

next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]

## Question2 Create the function that takes a list of dictionaries and returns the sum of people's budgets. <br>
Examples <br>
get_budgets([ <br>
  { "name": "John", "age": 21, "budget": 23000 }, <br>
  { "name": "Steve",  "age": 32, "budget": 40000 },<br>
  { "name": "Martin",  "age": 16, "budget": 2700 } <br>
]) ➞ 65700<br>
<br>
get_budgets([<br>
  { "name": "John",  "age": 21, "budget": 29000 },<br>
  { "name": "Steve",  "age": 32, "budget": 32000 },<br>
  { "name": "Martin",  "age": 16, "budget": 1600 }<br>
]) ➞ 62600

In [9]:
def get_budgets(d):
    sum = 0
    for i in d:
        sum = sum + i['budget']
    print(f' output -> {sum}')        

        
get_budgets([
  { "name": "John", "age": 21, "budget": 23000 },
  { "name": "Steve",  "age": 32, "budget": 40000 },
  { "name": "Martin",  "age": 16, "budget": 2700 }]) 

get_budgets([
  { "name": "John",  "age": 21, "budget": 29000 },
  { "name": "Steve",  "age": 32, "budget": 32000 },
  { "name": "Martin",  "age": 16, "budget": 1600 }
])

 output -> 65700
 output -> 62600

## Question3 Create a function that takes a string and returns a string with its letters in alphabetical order.<br>
Examples<br>
alphabet_soup("hello") ➞ "ehllo"<br>
<br>
alphabet_soup("edabit") ➞ "abdeit"<br>
<br>
alphabet_soup("hacker") ➞ "acehkr"<br>
<br>
alphabet_soup("geek") ➞ "eegk" <br>
<br> 
alphabet_soup("javascript") ➞ "aacijprstv"

In [37]:
def alphabet_soup(st):
    s = tuple(st)
    s1 = sorted(s)
    str1 = ''.join(s1)
    print(f'alphabet_soup("hello") ➞ "{str1}"')
    
alphabet_soup("hello")
alphabet_soup("edabit") 
alphabet_soup("hacker")
alphabet_soup("geek")
alphabet_soup("javascript")

alphabet_soup("hello") ➞ "ehllo"
alphabet_soup("hello") ➞ "abdeit"
alphabet_soup("hello") ➞ "acehkr"
alphabet_soup("hello") ➞ "eegk"
alphabet_soup("hello") ➞ "aacijprstv"

## Question4 Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded monthly. What will be the value of your investment at the end of the 10 year period?<br>Create a function that accepts the principal p, the term in years t, the interest rate r, and the number of compounding periods per year n. The function returns the value at the end of term rounded to the nearest cent.
For the example above:<br>
compound_interest(10000, 10, 0.06, 12) ➞ 18193.97<br>
Note that the interest rate is given as a decimal and n=12 because with monthly compounding there are 12 periods per year. Compounding can also be done annually, quarterly, weekly, or daily.<br>
Examples <br>
compound_interest(100, 1, 0.05, 1) ➞ 105.0<br>
<br>
compound_interest(3500, 15, 0.1, 4) ➞ 15399.26 <br>
<br>
compound_interest(100000, 20, 0.15, 365) ➞ 2007316.26

In [46]:

def compound_interest(p,y,r,n):
    cp = p*((1+r/n)**(y*n))
    print(f'compound_interest(100, 1, 0.05, 1) ➞ {cp:.2f}')
    

compound_interest(100, 1, 0.05,1) 
compound_interest(3500, 15, 0.1, 4)
compound_interest(100000, 20, 0.15, 365)

compound_interest(100, 1, 0.05, 1) ➞ 105.00
compound_interest(100, 1, 0.05, 1) ➞ 15399.26
compound_interest(100, 1, 0.05, 1) ➞ 2007316.26

## Question5 Write a function that takes a list of elements and returns only the integers.<br>
Examples<br>
return_only_integer([9, 2, "space", "car", "lion", 16]) ➞ [9, 2, 16]<br>
<br>
return_only_integer(["hello", 81, "basketball", 123, "fox"]) ➞ [81, 123]<br>
<br>
return_only_integer([10, "121", 56, 20, "car", 3, "lion"]) ➞ [10, 56, 20, 3]<br>
<br>
return_only_integer(["String",  True,  3.3,  1]) ➞ [1]

In [52]:
def return_only_integer(l):
    l1 = []
    for i in l:
        if type(i) == int:
            l1.append(i)
    print(f'return_only_integer([9, 2, "space", "car", "lion", 16]) ➞ {l1}')
    
    
return_only_integer([9, 2, "space", "car", "lion", 16])
return_only_integer(["hello", 81, "basketball", 123, "fox"])
return_only_integer([10, "121", 56, 20, "car", 3, "lion"])
return_only_integer(["String",  True,  3.3,  1])

return_only_integer([9, 2, "space", "car", "lion", 16]) ➞ [9, 2, 16]
return_only_integer([9, 2, "space", "car", "lion", 16]) ➞ [81, 123]
return_only_integer([9, 2, "space", "car", "lion", 16]) ➞ [10, 56, 20, 3]
return_only_integer([9, 2, "space", "car", "lion", 16]) ➞ [1]