## ------------------------------------ Assignment 20 ------------------------

1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [12]:
test1 = 'This is a test of the emergency text system,'
f = open('text.txt','w')
f.write(test1)
f.close()
# read the contents of test.txt

In [3]:
2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [10]:
with open('text.txt','r') as f1:
    test2 = f1.read()

print(test2)

This is a test of the emergency text system,

In [ ]:
3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [15]:
st = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

file = open('books.csv','w')
file.write(st)
file.close()

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [25]:
import sqlite3 as sq
db = sq.connect('books.db')
cursor = db.cursor()
cursor.execute("create TABLE books (title text author text year int) ")
db.commit()
db.close()

In [22]:
5. Read books.csv and insert its data into the book table.

In [23]:
import sqlite3  as sq
import csv
con = sq.connect('books.db')
cursor = con.cursor()
fi = open('books.csv','r')
books = csv.DictReader(fi)
for book in books:
    cursor.execute()






6. Select and print the title column from the book table in alphabetical order.
7. From the book table, select and print all columns in the order of publication.
8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.
9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.
10. Increment the count field of test and print it.

`